<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Gestión de grupos</title>
</head>

<body>
    <div>
        <form action="/gestion/grupo/cambiarNombre">
            <div style="float:left; width: 70%;">
                <input class="cantidad" name="nombre" type="text" th:value="${grupo.nombre}" />
                <input class="cantidad" name="idGrupo" type="hidden" th:value="${grupo.id}" />
            </div>
            <button style="float:left; width: 30%;" type="submit" class="botonAzul">Cambiar
                nombre</button>
        </form>

        <form action="/gestion/grupo/nuevoUsuarioGrupo">
            <div style="float:left; width: 70%;">
                <input class="cantidad" name="correo" placeholder="Pon el correo del usuario">
                <input type="hidden" name="idGrupo" th:value="${grupo.id}"/>
            </div>
            <button style="float:left; width: 30%;" type="submit" class="botonAzul">Añadir usuario</button>
        </form>
        <table class="tablaPrincipal">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ug:${usuarioGrupo}" class="item">
                    <td class='align-middle' th:text="${ug.usuario.nombre}"></td>
                    <td class='align-middle' th:text="${ug.usuario.correo}"></td>
                    <td class='align-middle' th:text="${ug.usuario.telefono}"></td>
                    <td><a class="botonRojo"
                            th:href="@{|${idGrupo}/borrarUsuario|(idUsuarioGrupo=${ug.id},idGrupo=${idGrupo})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>