<html>

<head>
    <title>G Manager</title>
    <link rel="icon" href="/cartera_blanca.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css" />

    <link rel="stylesheet" href="/stylesIncio.css" />
</head>

<body>
    <nav class="navbar navbar-custom fixed-top">
        <a class="btnInicarSesion" th:href="@{/gestion/inicio}">Iniciar sesión</a>
        <img src="/cartera_blanca.svg" alt="">
    </nav>

    <div class="container">
        <div id="fullpage">
            <div class="section">
                <div class="divGestionGastos">
                    <h1 class="headline">Gestiona tus gastos</h1>
                    <p class="pLeft">
                        Controla tus gastos de una forma clara y ordenada gracias a nuestro increíble interfaz.
                    </p>
                    <p class="pLeft">
                        Desde la página principal podrás añadir tus nuevos movimientos.
                    </p>
                </div>
                <div class="tablaOpacidad">
                    <div class=" divPrincipal">
                        <p class="presupuestoPrincipal"> 3.128,28€</p>
                    </div>
                    <div class="divBajo">
                        <div class="divHrPrincipal">
                            <button class="botonGris" disabled>Nuevo importe</button>
                            <hr />
                        </div>
                        <div>
                            <table class="tablaPrincipal">
                                <tr>
                                    <th>Concepto</th>
                                    <th>Fecha</th>
                                    <th>Importe</th>
                                </tr>
                                <tr>
                                    <td class="negritaPrincipal">Las cosas ocurren aquí</td>
                                    <td>24/09/2021</td>
                                    <td style="text-align: center;">1€</td>
                                </tr>
                                <tr>
                                    <td class=" negritaPrincipal">Proyect Hiberus</td>
                                    <td>14/02/2021</td>
                                    <td style="text-align: center;">1M€</td>
                                </tr>
                                <tr>
                                    <td class=" negritaPrincipal">Java Team</td>
                                    <td>13/09/2021</td>
                                    <td style="text-align: center;">100K€</td>
                                </tr>
                                <tr>
                                    <td class=" negritaPrincipal">Diego, Jose María, Martín, Raúl and Sofía</td>
                                    <td>15/09/2021</td>
                                    <td style="text-align: center;">❤</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">

                <div class="tablaOpacidad">
                    <div class="divHrPrincipal">
                        <button class="botonGris" disabled>Crear grupo</button>
                        <hr />
                    </div>
                    <div>
                        <table class="tablaPrincipal">
                            <tr>
                                <th>Nombre del grupo</th>
                                <th>Fecha de creación</th>
                                <th>Presupuesto</th>
                            </tr>
                            <tr>
                                <td class="negritaPrincipal">Jamón para Jorge Rubira</td>
                                <td>24/09/2021</td>
                                <td style="text-align: center;">300€</td>
                            </tr>
                            <tr>
                                <td class="negritaPrincipal">Viaje a DisneyLand</td>
                                <td>13/02/2021</td>
                                <td style="text-align: center;">2K€</td>
                            </tr>
                            <tr>
                                <td class="negritaPrincipal">Gastos del piso</td>
                                <td>01/01/2021</td>
                                <td style="text-align: center;">100K€</td>
                            </tr>
                            <tr>
                                <td class="negritaPrincipal">Fiesta del sábado</td>
                                <td>25/09/2021</td>
                                <td style="text-align: center;">30€</td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="divGrupos">
                    <h1>Controla tus grupos</h1>
                    <p style="font-size: 20px;">
                        ¿Se acerca el cumpleaños de María y no sabéis cuanto queréis gastar?
                    </p>
                    <p style="font-size: 20px;">
                        Crea grupos con tus amigos y controla el dinero que hay en la cuenta común.
                    </p>
                </div>
            </div>

            <div class="section">
                <div class="divFiltrar">
                    <h1 class="pRight">Filtra tu búsqueda</h1>
                    <p style="font-size: 20px;">
                        Con nuestra barra de búsqueda podrás filtrar tu búsqueda.
                    </p>
                    <p style="font-size: 20px;">
                        Es rápida, sencilla y bueno... también mola mucho.
                    </p>
                </div>
                <div>
                    <div class="divHr2elementos">
                        <hr />
                        <div class="search-box ">
                            <button class="btn-search"><i class="fas fa-search"></i></button>
                            <input type="text" id="buscar" class="input-search" placeholder="Búsqueda">
                        </div>
                    </div>

                    <div id="movimientos" style="opacity: 0.5;">
                        <table class="tablaPrincipal" id="pager">
                            <thead>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Categoría <i class="fas fa-sort"></i></th>
                                    <th>Usuario <i class="fas fa-sort"></i></th>
                                    <th>Fecha <i class="fas fa-sort"></i></th>
                                    <th>Cantidad <i class="fas fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="negritaPrincipal">Prueba el buscador</td>
                                    <td>Tecnología</td>
                                    <td>Raúl</td>
                                    <td>13/02/1999</td>
                                    <td style="text-align: center;">7€</td>
                                </tr>
                                <tr>
                                    <td class="negritaPrincipal">Solo dale en el botón</td>
                                    <td>Deporte</td>
                                    <td>Jose</td>
                                    <td>07/12/2021</td>
                                    <td style="text-align: center;">10€</td>
                                </tr>
                                <tr>
                                    <td class="negritaPrincipal">Puedes probarla desde aquí</td>
                                    <td>Hogar</td>
                                    <td>Diego</td>
                                    <td>24/09/2021</td>
                                    <td style="text-align: center;">100€</td>
                                </tr>
                                <tr>
                                    <td class="negritaPrincipal">Escribe algo que veas en la tabla</td>
                                    <td>Vehículo</td>
                                    <td>Martín</td>
                                    <td>08/10/2021</td>
                                    <td style="text-align: center;">23€</td>
                                </tr>
                                <tr>
                                    <td class="negritaPrincipal">Inicia sesión para usar la aplicación</td>
                                    <td>Multimedia</td>
                                    <td>Sofía</td>
                                    <td>13/09/2021</td>
                                    <td style="text-align: center;">223.50€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="/paginador.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            new fullpage('#fullpage', {
                autoScrolling: true,
                navigation: true,
                navigationTooltips: ['Gestiona tus gastos', 'Controla tus grupos', 'Filtra tu búsqueda'],
                scrollingSpeed: 1000
            });

            //Esta función filtra los elementos en pantalla
            document.querySelector("#buscar").onkeyup = function () {
                $TableFilter("#pager", this.value);
            };

            $TableFilter = function (id, value) {
                var rows = document.querySelectorAll(id + " tbody tr");

                for (var i = 0; i < rows.length; i++) {
                    var showRow = false;

                    var row = rows[i];
                    row.style.display = "none";

                    for (var x = 0; x < row.childElementCount; x++) {
                        if (
                            row.children[x].textContent
                            .toLowerCase()
                            .indexOf(value.toLowerCase().trim()) > -1
                        ) {
                            showRow = true;
                            break;
                        }
                    }

                    if (showRow) {
                        row.style.display = null;
                    }
                }
            };

            const sr = ScrollReveal({
                distance: '60px',
                duration: 2500,
                delay: 400,
                // reset: true
            })

            sr.reveal(`.headline, .divPrincipal`, {
                origin: 'top',
                interval: 100
            })
            sr.reveal(`.pLeft`, {
                origin: 'left',
                interval: 100
            })

            sr.reveal(`.divBajo`, {
                origin: 'bottom',
                interval: 100
            })
            sr.reveal(`.specs__img, .discount__img`, {
                origin: 'right',
                interval: 100
            })
        </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>