<html lang="es" xmlns:th="https://www.thymeleaf.org" th:replace="layout::layout( ~{::body})">

<head>
    <title th:text="${grupo.nombre}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <div class="divPrincipal" style="margin: 0 auto; margin-top: 20%;">
            <div class="divHrPrincipal">
            </div>


            <div class="divHrPrincipal">
                <a type="button" class="botonAzul" th:onclick="|mostrarFormularioNuevoGrupo()|">Nuevo grupo</a>
                <hr />
            </div>

            <div id="movimientos">
                <table class="tablaPrincipal" id="pager">
                    <thead>
                        <tr>
                            <th>Nombre del grupo</th>
                            <th>Fecha de creación</th>
                            <th>Presupuesto</th>
                            <th colspan="2" style="text-align: center;">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr style="cursor: pointer;" type="url" id="grupo" th:each="ug:${grupos}"
                            th:onclick="|mostrarGrupo(${ug.grupo.id})|">
                            <td class="negritaPrincipal" th:text="${ug.grupo.nombre}"></td>
                            <td th:text="${ug.grupo.fechaCreacion}"></td>
                            <th:block th:each="p:${ug.grupo.presupuesto}">
                                <td style="text-align: center;" th:text="${p.cantidadFinal} + '€'" th:class="
                                ${p.cantidadFinal >= 0} ? 'Verde' : 'Rojo'"></td>
                            </th:block>
                            <td>
                                <a class="botonRojo" th:href="@{|${ug.grupo.id}/borrar|}">Eliminar grupo</a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="pageNavPosition" class="pager-nav"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script>
            function mostrarGrupo(idGrupo) {
                window.location.href = "grupo/" + idGrupo;
            };

            function mostrarFormularioNuevoGrupo() {
                $.ajax({
                    url: "inicio/nuevoGrupo",
                    success: function (formularioEditar) {
                        bootbox
                            .dialog({
                                title: "Añade nuevo grupo",
                                message: formularioEditar,
                            })
                            .find("div.modal-content")
                            .addClass("largeWidth");;
                    },
                    error: function (err) {
                        alert("Si la URL esta mal. Codigo 404");
                    }
                });
            }
        </script>
</body>

</html>