<html xmlns:th="https://www.thymeleaf.org" th:replace="layout::layout( ~{::body})">

<head>
    <title>Tu usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container" style="padding: 80px;">
        <form method="post" action="guardarPerfil" th:object="${usuario}">
            <div class="divPrincipal">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{contrasenya}" />
                <input class="inputLogin" style="width: 100%;" id="nombre" type="text" name="nombre"
                    th:field="*{nombre}" />
                <input class="inputLogin" style="width: 100%;" id="correo" name="correo" type="email"
                    th:field="*{correo}" />
                <input class="inputLogin" style="width: 100%;" id="tlf" name="tlf" type="number"
                    th:field="*{telefono}" />
                <a type="button" class="btnCambiarPass" th:onclick="cambiarContraseña()">Cambiar
                    contraseña</a>
                <button class="btnLogin btnLoginColor" style="width: 100%;" type="submit">Guardar</button>
            </div>
        </form>
    </div>

    <script>
        function cambiarContraseña() {
            $.ajax({
                url: "/gestion/contrasenya",
                success: function (formulario) {
                    bootbox
                        .dialog({
                            title: "Cambia la contraseña",
                            message: formulario,
                        })
                        .find("div.modal-content")
                        .addClass("largeWidth");
                },
                error: function (err) {
                    alert("Si la URL esta mal. Codigo 404");
                },
            });
        }
    </script>
</body>

</html>