/* Si se quieren cambiar los parámetros de la fuente, ir al siguiente enlace: 
https://fonts.google.com/specimen/Quicksand?query=Quicksand#standard-styles */

/* Para ver la API y las funciones de la fuente, ir al siguiente enlace:
https://developers.google.com/fonts/docs/css2
 */

body {
  /* Color general de la página */
  background-color: #f7f7f7;
  /* Color de la fuente de las letras */
  color: #3e3434;
  /* Esta es la fuente que se usará en el proyecto */
  font-family: "Quicksand", sans-serif;
}

div {
  /* Tamaño del contenedor de forma horizontal. */
  width: 100%;
  /* Tamaño que coge de la pantalla.No coge la pantalla entera y pone bordes */
  max-width: 80%;
  /* Con este valor ponemos el contenido centrado */
  margin: 0 auto;
  /* El contenido no sale del div y se recorta si alcanza su máximo */
  overflow: hidden;
  /* Creamos una separación con los elementos de dentro */
  padding: 20px;
  /* Con esto calculamos automaticamente el ancho de la caja para que no se pase del 100% */
  box-sizing: border-box;
}

/* Ponemos la imagen en su 100% y cuando el contenedor se haga pequeño, esta también */
div img {
  width: 100%;
  height: auto;
}

.valorPositivo {
  color: #41da1f;
}

.valorNegativo {
  color: #ed2525;
}

/* Si la anchura del dispositivo es menor de 500px, se aplican estos estilos */
@media screen and (max-width: 500px) {
}

/* Si la orientation del dispositivo es horizontal, se aplican estos estilos */
@media screen and (orientation: Landscape) {
}

/* Con esto cambiamos el grosor de la fuente al valor que queremos y de la entidad que queramos */
@supports (font-variation-settings: "wght" 700) {
  header {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }
}
