@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background-color: #f7f7f7;
  margin-top: 40px;
}

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

img {
  margin: 0 auto;
  width: 35px;
}

button {
  border-radius: 10px;
  outline: none;
}

th {
  white-space: nowrap;
}

.btnInicarSesion {
  color: #f7f7f7;
  font-weight: 600;
  text-decoration: none;
}

.btnInicarSesion:hover {
  color: #3e3434;
  font-weight: 600;
  text-decoration: none;
}

.divGestionGastos {
  float: left;
  width: 50%;
  text-align: center;
  padding-right: 20px;
  margin-top: 20%;
}

.divFiltrar {
  width: 50%;
  text-align: center;
  padding-left: 30px;
  margin: 0 auto;
}

.divGrupos {
  float: left;
  width: 50%;
  text-align: center;
  padding-left: 30px;
  margin-top: 13%;
}

.pLeft {
  font-size: 20px;
}

.tablaOpacidad {
  float: left;
  opacity: 0.5;
}

/* =================================
=========== Estilos layout ===========
====================================*/
.normalFont {
  font-weight: 400;
}

.navbar-custom {
  background-color: #226acb;
  font-size: large;
  color: #f7f7f7;
}

.navbar-toggler {
  border: none;
  color: #f7f7f7;
}

/* =================================
=====Estilos página principal ======
====================================*/

.divPrincipal {
  position: relative;
}

.presupuestoPrincipal {
  font-weight: lighter;
  font-size: 80px;
  text-align: center;
}

.tablaPrincipal {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.tablaPrincipal th {
  width: 100%;
  background-color: #8b8b8b;
  color: #f7f7f7;
  padding: 1em;
  border-bottom: 6px solid #f7f7f7;
  font-size: 15px;
}

.tablaPrincipal td {
  padding: 1em;
  border-bottom: 4px solid #f7f7f7;
  font-size: medium;
}

.tablaPrincipal tr {
  padding: 1em;
  background: #ddd;
  border-bottom: 4px solid #f7f7f7;
  font-size: medium;
}

.negritaPrincipal {
  font-weight: 600;
}

.divHrPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.divHr2elementos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.divHrPrincipal hr {
  flex: 1px;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #3e3434,
    rgba(129, 129, 129, 0.75),
    #f7f7f7
  );
}

.divHr2elementos hr {
  flex: 1px;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to left,
    #3e3434,
    rgba(129, 129, 129, 0.75),
    #f7f7f7
  );
}

.divHr2elementos hr {
  flex: 1px;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-color: #3e3434;
}

/* =================================
=====Estilos botón principal======
====================================*/

.botonGris {
  border: #3e3434 1px solid;
  border-radius: 4px;
  background-color: #cccccc;
  color: #3e3434;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* =================================
============Scroll bar==============
====================================*/
#fp-nav span {
  background: #226acb !important;
}

.fp-tooltip,
.fp-right {
  color: #3e3434 !important;
  font-weight: bold;
}
/* =================================
=======Buscador de elementos========
====================================*/
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  border: #3e3434 1px solid;
  border-radius: 4px;
  height: 40px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  transition: all 0.5s ease-in-out;
  background-color: #226acb;
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: #f7f7f7;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
}

.btn-search {
  width: 50px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
  border: #3e3434 1px solid;
}

.btn-search:focus ~ .input-search {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #3e3434;
  background-color: #3e3434;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #3e3434;
  background-color: #3e3434;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* ===================================
====Cambios de estado según tamaño====
======================================*/
@media screen and (max-width: 1200px) {
  .divHr2elementos,
  #movimientos,
  .tablaOpacidad {
    display: none;
  }

  .divGestionGastos,
  .divGrupos,
  .divFiltrar {
    float: none;
    width: 50%;
    text-align: center;
    padding-left: 30px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  #fp-nav span {
    display: none;
  }
}

.fas:hover {
  color: #3e3434;
}
/* ===================================
====Fecha de tabla en una sola línea====
======================================*/
.fechaTabla {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
