<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Crear usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/styles.css" />

</head>

<body>
    <div align="center">
        <div class="card">
            <form action="crear" method="post" th:object="${usuario}" onsubmit="" name="form">
                <img src="/cartera_negra.svg" alt="" class="imgLogin">
                <div class="card-body">
                    <h5 class="card-title">Crear usuario</h5>
                    <input type="hidden" th:field="*{id}" />
                    <input class="inputLogin" th:field="*{nombre}" name="nombre" required minlength="4" maxlength="50"
                        placeholder="Nombre" />
                    <input class="inputLogin" type="email" size="70" th:field="*{correo}" name="email" required
                        placeholder="Email" />
                    <input class="inputLogin" type="password" size="15" th:field="*{contrasenya}" name="password"
                        required placeholder="Contraseña" />
                    <input class="inputLogin" th:field="*{telefono}" name="telefono" type="number" required
                        placeholder="Teléfono" />
                    <button class="btnLogin btnLoginColor" type="submit">Continuar</button>
                    <p class="msgError" th:text="${msg}"></p>
            </form>
        </div>
    </div>
</body>
<style>

</style>

</html>