<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Gestión de grupos</title>
</head>

<body>
    <div>
        <table class="tablaPrincipal">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ug:${usuarioGrupo}" class="item">
                    <td class='align-middle' th:text="${ug.usuario.nombre}"></td>
                    <td class='align-middle' th:text="${ug.usuario.correo}"></td>
                    <td class='align-middle' th:text="${ug.usuario.telefono}"></td>
                    <td><a class="botonRojo"
                            th:href="@{|{idGrupo}/borrarUsuario|(idUsuarioGrupo=${ug.id},idGrupo=${idGrupo})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>