<html lang="es" xmlns:th="https://www.thymeleaf.org" th:replace="layout::layout( ~{::body})">

<head>
    <meta charset=" UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página grupo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <div class="divPrincipal">
            <p id="nombre" class="presupuestoPrincipal" th:text="${grupo.nombre}"></p>
            <div th:if="${presupuesto.cantidadInicio}">
                <p id="presupuesto" class="presupuestoPrincipal" th:class="
                ${presupuesto.cantidadInicio >= 0} ? 'presupuestoPrincipal Verde' : 'presupuestoPrincipal Rojo'"
                    th:text="${presupuesto.cantidadInicio} + '€'"></p>
            </div>
        </div>

        <div class="divHr2elementos">
            <button class="botonAzul" onclick="mostrarFormularioNuevoMovimiento()">Nuevo importe</button>
            <hr />
            <div class="search-box">
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" id="myInput" class="input-search" onkeyup="filtrar()"
                    placeholder="Escribe el usuario">
            </div>

        </div>

        <div>
            <!--BOTÓN CON FUNCIONAMIENTO, PERO DE MOMENTO NO SE 
                <a th:href=" @{|${idGrupo}/nuevoMovimiento|(idUsuarioGrupo=${movimientos[0].usuarioGrupo.id})}">NUEVO
                MOVIMIENTO</a> -->
        </div>

        <table class="tablaPrincipal" id="pager">

            <tr>
                <th>Concepto</th>
                <th>Categoría <i class="fas fa-sort" onclick="w3.sortHTML('#tablaMov', '.item', 'td:nth-child(1)')"></i>
                </th>
                <th>Usuario <i class="fas fa-sort" onclick="w3.sortHTML('#tablaMov', '.item', 'td:nth-child(2)')"></i>
                </th>
                <th>Fecha <i class="fas fa-sort" onclick="w3.sortHTML('#tablaMov', '.item', 'td:nth-child(3)')"></i>
                </th>
                <th>Cantidad <i class="fas fa-sort" onclick="w3.sortHTML('#tablaMov', '.item', 'td:nth-child(3)')"></i>
                </th>
            </tr>
            <tr th:each="mov:${movimientos}" class="item">
                <td th:text="${mov.concepto}"></td>
                <td th:text="${mov.categoria}"></td>
                <td th:text="${mov.usuarioGrupo.usuario.nombre}"></td>
                <td th:text="${mov.fecha}"></td>
                <td th:text=" ${mov.cantidad}"></td>
            </tr>
        </table>
        <div id="pageNavPosition" class="pager-nav"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
    <script src="/paginador.js"></script>
    <script>

    </script>
</body>

</html>