<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Gestion de Gastos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      

        <div class="container">
            Formulario de Login

            <form class="form-signin" method="post" action="/login2">
                <h2 class="form-signin-heading">Por favor ingresa tus datos</h2>
                <p>
                    <label for="username" class="sr-only">Usuario</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required="" autofocus="">
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                </p>
                <input name="_csrf" type="hidden" value="8a88d4a4-aae7-4690-a3f0-9a6c709729c5">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            </form>            
        </div>



    </body>




</html>
