<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Nuevo grupo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var campo = document.querySelector('#fecha');
            var fecha = new Date();
            fecha.setHours(fecha.getHours());
            campo.value = fecha.getFullYear().toString() + '-' + (fecha.getMonth() + 1).toString().padStart(2,
                    0) + '-' + fecha.getDate().toString().padStart(2, 0) + " " + (fecha.getHours()) + ":" +
                fecha.getMinutes() + ":" + fecha.getSeconds();
        });
    </script>
</head>

<body>
    <div>
        <form method="post" action="inicio/guardarGrupo" th:object="${grupo}">

            <div>
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" id="fecha" th:field="*{fechaCreacion}" />
            </div>

            <div>
                <input class="cantidad" id="nombre" placeholder="Nombre del grupo" type="text" required
                    th:field="*{nombre}" />
            </div>

            <div style="float:left; width: 74%;">
                <input class="cantidad" id="cantidad" placeholder="Presupuesto del grupo" step="any" required
                    type="number" th:field="*{presupuesto}" onkeyup="this.value=Numeros(this.value)" />
            </div>
            <div style="float:left;">
                <label class="switch">
                    <input class="switch-input" type="checkbox" />
                    <span class="switch-label" data-on="Gasto" data-off="Ingreso"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>

            <div>
                <button type="submit" class="botonAzul" style="width: 98%;">Guardar</button>
            </div>
        </form>
    </div>



    <script>
        function Numeros(string) {
            var out = '';
            var filtro = '1234567890.';

            for (var i = 0; i < string.length; i++)
                if (filtro.indexOf(string.charAt(i)) != -1)
                    out += string.charAt(i);
            return out;
        }

        $(document).ready(function () {
            $('.switch-input').click(function () {
                var c = $('#cantidad').val();
                if ($(this).is(":checked")) {
                    $('#cantidad').val("-" + c);
                } else if ($(this).is(":not(:checked)")) {
                    minuevacadena = c.substring(1);
                    $('#cantidad').val(minuevacadena);
                }
            });
        });
    </script>
</body>

</html>