<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width" />

    <!-- Se coge la fuente del servidor de Google (Lato) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/estilos.css">
    <title>Documento de prueba</title>


    <style>
        .Button {
            position: relative;
            border-radius: 4px;
            background-color: rgb(237, 37, 37);
            top: 20px;
            width: 221px;
            height: 50px;
        }

        .Button:hover {
            position: relative;
            border-radius: 4px;
            background-color: #c21e1e;
            top: 20px;
            width: 221px;
            height: 50px;

        }
    </style>
</head>

<body>

    <div class="container">
        <a type="button" class="Button"></a>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px">
            <path fill-rule="evenodd" fill="rgb(59, 59, 59)"
                d="M12.0,24.0 C5.384,24.0 0.0,18.615 0.0,12.0 C0.0,5.384 5.384,0.0 12.0,0.0 C18.614,0.0 24.0,5.384 24.0,12.0 C24.0,18.615 18.614,24.0 12.0,24.0 ZM16.288,7.0 L10.63,13.498 L7.711,11.43 L6.0,12.830 L9.993,17.0 L10.63,16.928 L10.132,17.0 L18.0,8.787 L16.288,7.0 Z" />
        </svg>
        <img src="cartera no fondo.svg" height="87" width="100"" />
        

    </div> <!-- La solución optima es poner los scripts al final -->
    <script src=" https://code.jquery.com/jquery-3.6.0.js"> </script> <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
</body>
<misscrip>

</misscrip>

</html>