<html lang="es" xmlns:th="https://www.thymeleaf.org" th:replace="layout::layout( ~{::body})">

<head>
    <meta charset=" UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    <div class="divPrincipal">
        <p class="presupuestoPrincipal">3.248€</p>
    </div>
    <div class="divHrPrincipal">
        <button class="botonAzul">Nuevo importe</button>
        <hr />
    </div>
    <div id="movimientos">
        <table class="tablaPrincipal">
            <tr>
                <th>Concepto</th>
                <th>Fecha</th>
                <th>Importe</th>
            </tr>
            <tr>
                <td class="negritaPrincipal">Esto es un concepto con valor positivo</td>
                <td>13/02/1999</td>
                <td> +3.400€</td>
            </tr>
            <tr>
                <td class="negritaPrincipal">Esto es un concepto con valor negativo</td>
                <td>14/02/1999</td>
                <td> -2.430€</td>
            </tr>
            <tr>
                <td class="negritaPrincipal">Esto es un concepto con valor negativo</td>
                <td>14/02/1999</td>
                <td> -2.430€</td>
            </tr>
            <tr>
                <td class="negritaPrincipal">Esto es un concepto con valor negativo</td>
                <td>14/02/1999</td>
                <td> -2.430€</td>
            </tr>
        </table>
    </div>

    <div class="divHrPrincipal">
        <a type="button" class="botonAzul">Nuevo grupo</a>
        <hr />
    </div>

    <div id="grupos">
        <table class="tablaPrincipal">
            <tr>
                <th>Nombre</th>
                <th>Presupuesto</th>
            </tr>
            <tr>
                <td class="negritaPrincipal">Regalo a María</td>
                <td> +3.400€</td>
            </tr>
            <tr>
                <td class="negritaPrincipal">Vehículo para viaje a Zaragoza</td>
                <td> -2.430€</td>
            </tr>
            <tr>
                <td class="negritaPrincipal">Regalo a María</td>
                <td> +3.400€</td>
            </tr>
            <tr>
                <td class="negritaPrincipal">Vehículo para viaje a Zaragoza</td>
                <td> -2.430€</td>
            </tr>


        </table>
    </div>
</body>

</html>