<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>


    <style>
        body {
            background-color: #f7f7f7;
            color: #3E3434;

        }

        div {}

        p {}
    </style>
</head>

<body>
    <div>
        <p style="font-family: 'Quicksand', sans-serif;">Quicksand: Lorem ipsum dolor sit amet consectetur, adipiscing
            elit et sollicitudin
            suscipit, urna venenatis
            eu imperdiet.</p>
        <p style="font-family: 'Titillium Web', sans-serif;">Titillium Web: Lorem ipsum dolor sit amet consectetur,
            adipiscing elit et sollicitudin
            suscipit, urna
            venenatis eu imperdiet.</p>
        <p style="font-family: 'Lato', sans-serif;">Lato: Lorem ipsum dolor sit amet consectetur, adipiscing elit et
            sollicitudin
            suscipit, urna venenatis
            eu imperdiet.</p>
        <p style="font-family: 'Montserrat', sans-serif;">Montserrat: Lorem ipsum dolor sit amet consectetur, adipiscing
            elit et sollicitudin
            suscipit, urna venenatis
            eu imperdiet.</p>
        <p style="font-family: 'Montserrat Alternates', sans-serif;">Montserrat Alternates: Lorem ipsum dolor sit amet
            consectetur, adipiscing elit et
            sollicitudin
            suscipit, urna venenatis
            eu imperdiet.</p>
        <p style="font-family: 'Space Mono', monospace;">Space Mono: Lorem ipsum dolor sit amet consectetur, adipiscing
            elit et sollicitudin
            suscipit, urna venenatis
            eu imperdiet.</p>
        <p style="font-family: 'Poppins', sans-serif;">Poppins: Lorem ipsum dolor sit amet consectetur, adipiscing elit
            et sollicitudin
            suscipit, urna venenatis
            eu imperdiet.</p>
        <p style="font-family: 'Mukta', sans-serif;">Mukta: Lorem ipsum dolor sit amet consectetur, adipiscing elit et
            sollicitudin
            suscipit, urna venenatis
            eu imperdiet.</p>
    </div>
</body>

</html>